.entry:not(:first-of-type)
{
    margin-top: 10px;
}

.glyphicon
{
    font-size: 12px;
}

header {
	margin : 15px;
	padding: 10px;
}

.radio {
	margin : 15px;
	padding: 10px;
}

.textField{
	text-align: center;
	font-size: 16px;
	font-style: inherit;
}

table {
	font-style: italic;
	font-size: 16px;
	text-align: center;
}

#container{
    width:100%;
    margin: 10px;
}